<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title menu-code="00000004">计划完成情况</title>

<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<#include "/common/parts/common-css.html"/>
<link rel="stylesheet" href="/static/assets/css/bootstrap-datepicker3.min.css" />

</head>
<body class="no-skin">
	<#include "/common/parts/header.html"/>
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {}
		</script>
		<#include "/common/parts/asider.html"/>

		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state">
					<div class="row">
						<div class="col-sm-12" style="font-size: 13px;padding-left: 20px;">
							<div class="col-sm-6 pull-left">
								<span>当前位置</span> > <span>责任晒板</span> > <span>计划完成情况</span>
							</div>
							<div class="col-sm-6 text-right" style="padding-right: 20px;">
								<button class="btn btn-white radius-4" onclick="window.location.href='/plan/planManage';">计划管理</button>
							</div>
						</div>
					</div>
				</div>
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="space-6"></div>
								<div class="col-sm-12 center">
									<div class="space-6"></div>
									<form id="queryForm" class="form-horizontal" role="form" onsubmit="return false;">
										<div class="form-group">
											<label class="col-sm-1 control-label no-padding-right" for="planDate">年月</label>
											<div class="col-sm-1">
												<select style="width: 100%;" id="planDate" name="planDate">
												</select>
											</div>
											<!-- <div class="col-sm-1">
												<select id="yearAndMonth" name="yearAndMonth">
													<option value="201801">2018年1月</option>
													<option value="201712">2017年12月</option>
													<option value="201711">2017年11月</option>
												</select>
											</div> -->

											<label class="col-sm-1 control-label no-padding-right" for="refDeptId">部门</label>
											<div class="col-sm-2">
												<select style="width: 100%;" id="refDeptId" name="refDeptId">

												</select>
											</div>
											<label class="col-sm-1 control-label no-padding-right" for="detailType">工作类型</label>
											<div class="col-sm-1">
												<select style="width: 100%;" id="detailType" name="detailType">
													<option value=""></option>
													<option value="1">常规</option>
													<option value="2">重点</option>
													<option value="3">计划外</option>
												</select>
											</div>
											<label class="col-sm-1 control-label no-padding-right" for="rateOfProgress">完成度</label>
											<div class="col-sm-1">
												<select style="width: 100%;" id="rateOfProgress" name="rateOfProgress">
												    <option value=""></option>
													<option value="完成">完成</option>
													<option value="未完成">未完成</option>
													<option value="部分完成">部分完成</option>
												</select>
											</div>
											<label class="col-sm-1 control-label no-padding-right" for="refUserId">责任人</label>
											<div class="col-sm-1">
												<select style="width: 100%;" id="refUserId" name="refUserId">
												</select>
											</div>
											<div class="col-sm-1 align-left">
												<button class="btn btn-white radius-4" style="padding: 4px 12px;" onclick="queryData()">查询</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="space-6"></div>
								<div class="col-sm-12 center">
									<div style="font-size: 18px; font-weight: bold;">计划完成情况统计</div>
									<div class="space-6"></div>
									<table id="tfhover" class="tftable" border="1">
									
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<#include "/common/parts/footer.html"/>
	</div>

	<#include "/common/parts/common-js.html"/>
	<#include "/common/parts/submit-form-js.html"/>
	<script src="/static/assets/js/jquery.form.js"></script>
	<script src="/static/assets/js/ace.min.js"></script>
	<script src="/static/assets/js/bootstrap-datepicker.min.js"></script>
	<script src="/static/assets/js/ace-elements.min.js"></script>
	<script src="/static/assets/js/jquery.serializejson.min.js"></script>
	<script src="/static/assets/js/sc-date.js"></script>
	<script type="text/javascript">
		$(function(){
			queryData();
			//查询所有用户
			$.ajax({
				type : 'POST',
				url : '/user/query/list',
				data :  JSON.stringify({}),
				headers : {
					'Content-Type' : 'application/json'
				},
				success : function(data) {
					if(data.resultCode === '000000' & data.dataMap != null){
		   	    		 $("#refUserId option").remove();
		   	  	         var userList = data.dataMap.userList;
		   	  	         if(userList!=null && userList.length>0){
		   	  	            var $option2 = $("<option></option>");
			        		$("#refUserId").append($option2);
		   	  	            for(var i=0; i<userList.length; i++){
		   	  		            var $option = $("<option></option>");
		   	  		            $option.attr("value", userList[i].id);
		   	  		            $option.text(userList[i].userName);
		   	  		       		$("#refUserId").append($option);
		   	  	            }
		   	  	         }
		   	    	}else {
						alert("获取信息异常-" + JSON.stringify(data));
					}
				},
				dataType : 'json',
				error : function(data) {
					alert("获取信息异常-" + JSON.stringify(data));
				}
			});
			//查询所有部门
			$.post("/dept/queryDeptList", null, function(data,textStatus){
				 if(data.resultCode === '000000'){
					$("#refDeptId option").remove();
			        var deptList = data.dataMap.depts;
			        if(deptList!=null && deptList.length>0){
			        	var $option2 = $("<option></option>");
			        	$("#refDeptId").append($option2);
			            for(var i=0;i<deptList.length;i++){
				            //添加到所属部门的下拉菜单中
				            var $option = $("<option></option>");
				            $option.attr("value",deptList[i].id);
				            $option.text(deptList[i].deptName);
				            $("#refDeptId").append($option);
			            }
			        }
				 }
		    });
		});
	
		function queryData() {
			var paramJson = $('#queryForm').serializeJSON();
			$.ajax({
				type : 'POST',
				url : '/plan/queryPlanList',
				data : JSON.stringify(paramJson),
				headers : {
					'Content-Type' : 'application/json'
				},
				success : function(data) {
					var resultCode = data.resultCode;
					var dataMap = data.dataMap;
					if (resultCode == '000000' & dataMap != null) {
						dataListRender(dataMap);
					} else {
						alert("查询异常！");
					}
				},
				dataType : 'json',
				error : function(data) {
					alert("获取信息异常-" + JSON.stringify(data));
				}
			});
		}
	
		function dataListRender(dataMap) {
			var ht = "<tr><th>序号</th><th>部门</th><th>工作类型</th><th>工作计划内容</th><th>责任人</th><th>制定人</th><th>修订人</th><th>开始时间</th><th>结束时间</th><th>完成度</th><th>完成情况</th></tr>";
			var planList = dataMap.planList;
			if (planList && planList.length > 0) {
				var indexNo = 1;
				for (var i = 0; i < planList.length; i++) {
					var plan = planList[i];
					ht = ht + "<tr class='center'><td>" + (indexNo++) + "</td>";
					ht = ht + "<td>" + plan.deptName + "</td>";
					ht = ht + "<td>" + plan.detailTypeName + "</td>";
					ht = ht + "<td>" + plan.detailContent + "</td>";
					ht = ht + "<td>" + plan.userName + "</td>";
					ht = ht + "<td>" + plan.userName + "</td>";
					ht = ht + "<td>" + plan.updateUser + "</td>";
					ht = ht + "<td>" + formatDate1(plan.beginTime, true) + "</td>";
					ht = ht + "<td>" + formatDate1(plan.endTime, true) + "</td>";
					ht = ht + "<td>" + plan.rateOfProgress + "</td>";
					ht = ht + "<td>" + plan.progressInfo + "</td>";
				}
			} else {
				ht = ht + "<tr class='center'><td colspan='11'>未查询到相关记录</td></tr>";
			}
			$("#tfhover").html(ht);
		}
	</script>
</body>
</html>
