<div id="sidebar" class="sidebar  responsive  ace-save-state">
<script type="text/javascript">
	try {
		ace.settings.loadState('sidebar')
	} catch (e) {}
</script>
	<ul class="nav nav-list">
		<li id="00000001" class="center"><a href="#" class="dropdown-toggle" style="background-color: #0A467F;color: white;"> <span class="menu-text">责任晒板</span>
		</a>
			<ul class="submenu">
				<li id="00000002" parent-menu-code="00000001" class=""><a href="/duty/dutyList"> 责任清单 </a></li>
				<li  id="00000003" parent-menu-code="00000001"  class=""><a href="/bylaw/bylawList"> 规章制度 </a></li>
				<li id="00000004" parent-menu-code="00000001"   class=""><a href="/plan/planList"> 计划完成情况 </a></li>
				<li id="00000005" parent-menu-code="00000001"  class=""><a href="#"> 绩效考核 </a></li>
			</ul></li>
		<li id ="0000006" class="center"><a href="#" class="dropdown-toggle" style="background-color: #0A467F;color: white;"> <span class="menu-text">任务晒板</span>
		</a>
			<ul class="submenu">
				<li id="00000007" parent-menu-code="00000006"  class=""><a href="#"> 任务新建 </a></li>
				<li id="00000008" parent-menu-code="00000006"  class=""><a href="#"> 任务执行 </a></li>
				<li id="00000009" parent-menu-code="00000006"  class=""><a href="#"> 任务归档 </a></li>
				<li id="00000010" parent-menu-code="00000006"  class=""><a href="#"> 任务统计 </a></li>
			</ul></li>
		<li id="00000011" class="center"><a href="#" class="dropdown-toggle" style="background-color: #0A467F;color: white;"> <span class="menu-text">数据晒板</span>
		</a>
			<ul class="submenu">
				<li id="00000012" parent-menu-code="00000011"  class=""><a href="#"> 总体经营数据 </a></li>
				<li id="00000013" parent-menu-code="00000011"  class=""><a href="#"> 部门监管数据 </a></li>
				<li id="00000014" parent-menu-code="00000011"  class=""><a href="#"> 数据填报 </a></li>
			</ul></li>
	</ul>
</div>

