<div id="sidebar" class="sidebar  responsive  ace-save-state">
<script type="text/javascript">
	try {
		ace.settings.loadState('sidebar')
	} catch (e) {}
</script>
	<ul class="nav nav-list">
		<li class="center"><a href="#" class="dropdown-toggle" style="background-color: #0A467F;color: white;"> <span class="menu-text">责任晒板</span>
		</a>
			<ul class="submenu">
				<li class=""><a href="duty.html"> 责任清单 </a></li>
				<li class=""><a href="bylaws.html"> 规章制度 </a></li>
				<li class=""><a href="#"> 计划完成情况 </a></li>
				<li class=""><a href="#"> 绩效考核 </a></li>
			</ul></li>
		<li class="center"><a href="#" class="dropdown-toggle" style="background-color: #0A467F;color: white;"> <span class="menu-text">任务晒板</span>
		</a>
			<ul class="submenu">
				<li class=""><a href="#"> 任务新建 </a></li>
				<li class=""><a href="#"> 任务执行 </a></li>
				<li class=""><a href="#"> 任务归档 </a></li>
				<li class=""><a href="#"> 任务统计 </a></li>
			</ul></li>
		<li class="center"><a href="#" class="dropdown-toggle" style="background-color: #0A467F;color: white;"> <span class="menu-text">数据晒板</span>
		</a>
			<ul class="submenu">
				<li class=""><a href="#"> 总体经营数据 </a></li>
				<li class=""><a href="#"> 部门监管数据 </a></li>
				<li class=""><a href="#"> 数据填报 </a></li>
			</ul></li>
	</ul>
</div>
