<div id="navbar" class="navbar navbar-default ace-save-state">
	<div class="navbar-container ace-save-state" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="/index" class="navbar-brand"> <small> CSSC MARIC 中国船舶及海洋工程设计研究院“晒态势、促提升”信息系统 </small>
			</a>
		</div>
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<li><span class="cursor-pointer"><img class="nav-user-photo" src="/static/assets/images/u57.png" /> <span class="user-info" id="userName"></span></span> <span class="cursor-pointer"><img class="nav-user-photo" src="/static/assets/images/u59.png" /></span><span id="logoutBtn" class="cursor-pointer"><img
						class="nav-user-photo" src="/static/assets/images/u61.png" /></span></li>
			</ul>
		</div>
	</div>
</div>